.form1 ul {
    width:750px;
    list-style-type:none;
    list-style-position:outside;
    margin:0px;
    padding:0px;
}
.form1 li{
    padding:12px; 
    border-bottom:1px solid #eee;
    position:relative;
}
.form1 li:first-child,
 .form1 li:last-child 
{
    border-bottom:1px solid #777;
}
.form1 h2 {
    margin:0;
    display: inline;
}
.required_notification {
    color:#d45252; 
    margin:5px 0 0 0; 
    display:inline;
    float:right;
}
.form1 label {
    width:150px;
    margin-top: 3px;
    display:inline-block;
    float:left;
    padding:3px;
}
.form1 input {
    height:20px; 
    width:220px; 
    padding:5px 8px;
}
.form1 textarea 
{
	padding:8px; 
	width:300px;
}
.form1 button 
{
	margin-left:156px;
    border-radius:5px;
}
.form1 input, .form1 textarea 
{ 
    border:1px solid #aaa;
    box-shadow: 0px 0px 3px #ccc, 0 10px 15px #eee inset;
    border-radius:5px;
}


.form1 input:required:valid
 { 
    background: #fff url(validate.png) no-repeat 98% center;
    background-size: 15px 15px;
    box-shadow: 0 0 5px #5cd053;
    border-color: #28921f;
}
 .form1 textarea:required:valid 
 { 
    background: #fff url(validate.png) no-repeat 98% center;
    background-size: 15px 15px;
    box-shadow: 0 0 5px #5cd053;
    border-color: #28921f;
}
